<button mat-button color="primary" >
  Mat Button
</button>
<div class="container">
  <div class="row">
    <div class="col-6">
      col 1
    </div>
    <div class="col-6">
      col 2
    </div>
  </div>
</div>

